<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Express Yourself</title>
</head>
<body>
  <form method="POST" action="/names">
    <input type="text" name="name">
    <input type="submit" value="Submit">
  </form>

  <ul>
    <% names.forEach(function(name) { %>
      <li><%= name %></li>
    <% }) %>
  </ul>

</body>
</html>
